section.containerContato {
    display: grid;
    
    grid-template-areas:
    "tituloContato"
    "msg"
    "form";
    grid-template-columns: 1fr;
    
    gap: 30px;
    justify-items: stretch;
    
    width: 100%;
    margin: 50px 0px;
}

#tituloContato {

    grid-area: tituloContato;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;

    margin: 0px 25%;
}

#div_error, #div_success{
    grid-area: msg;
    width: 100%;
}

#formCadastroContato {

    grid-area: form;
    margin: 0px 25%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    align-items: stretch;

    gap: 15px;
}

.btnFormulario {
    border: none;
    border-radius: 5px;
    background-color: rgb(34, 34, 230);
    padding: 15px 35px;
    color: rgb(236, 236, 236);
    font-size: 18px;
    cursor: pointer;

    align-self: center;
}

input {
    width: 100%;
    height: 50px;
    border: 1.5px solid rgb(187, 182, 182);
}