.container404{
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    padding-top: 50px;
}

.error400{
    font-size: 120px;
}

.p_error404{
    font-size: 30px;
    color: rgb(255, 70, 70);
}