/*Style do container principal*/
section.container {

    display: grid;

    grid-template-columns: 1fr;
    gap: 30px;

    width: 100%;
    margin: 50px 0px;
}

/*Style do titulo da agenda*/
div.conteudoAgenda {

    text-align: center;
    margin: 0px 25%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

div.conteudoAgenda h2#agenda{
    font-size: 40px;
}

/*Style da tabela*/
table {
    text-align: center;
    margin: 0px 25%;
    border-collapse: collapse;

}

tr th, tr td {
    border-top: 2px solid rgb(189, 189, 189);
    border-bottom: 2px solid rgb(189, 189, 189);
    font-size: 18px;
    padding: 15px 0px;
}