section.containerLogin {
    display: grid;

    grid-template-areas: 
    "tituloLogin"
    "form";

    gap: 50px;
    justify-items: center;

    width: 100%;
    margin: 50px 0px;
}

#tituloLogin {
    grid-area: tituloLogin;
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

#formulario {
    grid-area: form;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    gap: 40px;
}

.loginCadastro{
    display: grid;
    grid-template-columns: 1fr;

    gap: 30px;
    width: 100%;
}

.btnFormulario{
    border: none;
    border-radius: 5px;
    background-color: rgb(34, 34, 230);
    padding: 15px 35px;
    color: rgb(236, 236, 236);
    font-size: 18px;
    cursor: pointer;

    justify-self: center;
    width: auto;
}

input{
    width: 100%;
    height: 50px;
    border: 1.5px solid rgb(187, 182, 182);
}