* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navMenu {
  background-color: rgb(119, 119, 119);

  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  align-items: center;
  height: 80px;
}

div.links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: right;
  align-items: center;
}