<%- include("./includes/head.ejs"); %>
    <%- include("./includes/navMenu.ejs"); %>

        <section class="container404">
            <div class="div_error404">
                <h1 class="error400">Erro 404!</h1>
                <p class="p_error404">A pagina que você procura não existe!!!</p>
            </div>
        </section>
        
<%- include("./includes/footer.ejs"); %>