<%- include("./includes/head.ejs"); %>
    <%- include("./includes/navMenu.ejs"); %>

        <section class="container">
            <div class="conteudoAgenda">
                <h2 id="agenda">Agenda</h2>
                <p>Seus contatos estão abaixo</p>
            </div>

            

            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Celular</th>
                        <th>email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Matheus</td>
                        <td>Benevenuto</td>
                        <td>5531989051685</td>
                        <td>matheus@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Matheus</td>
                        <td>Benevenuto</td>
                        <td>5531989051685</td>
                        <td>matheus@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Matheus</td>
                        <td>Benevenuto</td>
                        <td>5531989051685</td>
                        <td>matheus@gmail.com</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <%- include("./includes/footer.ejs"); %>